<section>
  <!-- login form for users -->
  <h2>Existing Users Login Here</h2>
  <form class="login-form">
    <div>
      <label for="email-login">email:</label>
      <input type="text" placeholder="Enter Email" id="email-login" />
    </div>
    <div>
      <label for="password-login">password:</label>
      <input type="password" placeholder="Enter Password" id="password-login" />
    </div>
    <div>
      <button type="submit">login</button>
    </div>
  </form>
</section>
<section>
  <!-- sign up form for users -->
  <h2>Sign Up Here</h2>
  <form class="signup-form">
    <div>
      <label for="username-signup">username:</label>
      <input type="text" placeholder="Create Username" id="username-signup" />
    </div>
    <div>
      <label for="email-signup">email:</label>
      <input type="text" placeholder="Enter Email" id="email-signup" />
    </div>
    <div>
      <label for="password-signup">password:</label>
      <input
        type="password"
        placeholder="Create Password"
        id="password-signup"
      />
    </div>
    <div>
      <button type="submit">signup</button>
    </div>
  </form>
</section>

<script src="/javascript/login.js"></script>