{{#if loggedIn}}
<!-- allows commenting when logged in -->
<form class="comment-form">
  <h3>Add Comment Here</h3>
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}